<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="profile.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="profile.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Date of Birth</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="profile.dateOfBirth"></ion-datetime>
    </ion-item>
  </ion-card-content>
  <ion-row float-right class="edit-profile-form-buttons">
    <button ion-button small color="primary" (click)="saveProfile()">Save</button>
  </ion-row>
</ion-card>
