app-profile-view {
    .image-container{
        height: 220px;
        background-color: #54D3BF;
    }
    .image{
        padding-top: 20px;
        height: 200px;
        max-height: 200px;
    }
}
