page-message {
    .center-blue{
        display: inline-block;
        color: white;
        padding: 8px;
        background-color: #34B7F1;
        border-radius: 20px;
        margin-bottom: 0;
    }
}
