app-register-form{
    ion-input{
        background-color: #DEDEDE;
        padding-left: 8px;
    }
    .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
     }
     .register-form-buttons{
         padding: 10px;
     }
}
   
